# Игнорируем все: каталоги, файлы, подкаталоги, файлы в подкаталогах
/*
/*/

# Не игнорировать следующие файлы из корня
!/.gitignore
!/CerediraAutomation-1.1.0.hta
!/LICENSE
!/README.md


# CerediraAdministration
!/CerediraAdministration
/CerediraAdministration/*
!/CerediraAdministration/LdapAdmin.bat
!/CerediraAdministration/MultiCommander.bat
!/CerediraAdministration/Nssm.bat
!/CerediraAdministration/PsTools.bat
!/CerediraAdministration/Scanner.bat

!/CerediraAdministration/bin
/CerediraAdministration/bin/*
!/CerediraAdministration/bin/LdapAdmin
/CerediraAdministration/bin/LdapAdmin/*
!/CerediraAdministration/bin/LdapAdmin/README.md
!/CerediraAdministration/bin/MultiCommander
/CerediraAdministration/bin/MultiCommander/*
!/CerediraAdministration/bin/MultiCommander/README.md
!/CerediraAdministration/bin/Nssm
/CerediraAdministration/bin/Nssm/*
!/CerediraAdministration/bin/Nssm/README.md
!/CerediraAdministration/bin/PsTools
/CerediraAdministration/bin/PsTools/*
!/CerediraAdministration/bin/PsTools/README.md
!/CerediraAdministration/bin/Scanner
/CerediraAdministration/bin/Scanner/*
!/CerediraAdministration/bin/Scanner/README.md

!/CerediraAdministration/etc
/CerediraAdministration/etc/*
!/CerediraAdministration/etc/install
/CerediraAdministration/etc/install/*
!/CerediraAdministration/etc/install/CerediraAdministration
/CerediraAdministration/etc/install/CerediraAdministration/*
!/CerediraAdministration/etc/install/CerediraAdministration/CreateContextMenu.bat
!/CerediraAdministration/etc/install/CerediraAdministration/DeleteContextMenu.bat
!/CerediraAdministration/etc/install/CerediraAdministration/DeleteComponent.bat
!/CerediraAdministration/etc/install/CerediraAdministration/version
/CerediraAdministration/etc/install/CerediraAdministration/version/*
!/CerediraAdministration/etc/install/CerediraAdministration/version/1.1.0

!/CerediraAdministration/man
/CerediraAdministration/man/*
!/CerediraAdministration/man/CerediraAdministration
/CerediraAdministration/man/CerediraAdministration/*
!/CerediraAdministration/man/CerediraAdministration/README.md


# CerediraAndroid14
!/CerediraAndroid14
/CerediraAndroid14/*
!/CerediraAndroid14/AndroidEmulatorCreateAndroid14.bat
!/CerediraAndroid14/AndroidEmulatorRunAndroid14.bat

!/CerediraAndroid14/bin
/CerediraAndroid14/bin/*
!/CerediraAndroid14/bin/android
/CerediraAndroid14/bin/android/*
!/CerediraAndroid14/bin/android/README.md

!/CerediraAndroid14/etc
/CerediraAndroid14/etc/*
!/CerediraAndroid14/etc/install
/CerediraAndroid14/etc/install/*
!/CerediraAndroid14/etc/install/CerediraAndroid14
/CerediraAndroid14/etc/install/CerediraAndroid14/*
!/CerediraAndroid14/etc/install/CerediraAndroid14/CreateContextMenu.bat
!/CerediraAndroid14/etc/install/CerediraAndroid14/DeleteContextMenu.bat
!/CerediraAndroid14/etc/install/CerediraAndroid14/DeleteComponent.bat
!/CerediraAndroid14/etc/install/CerediraAndroid14/version
/CerediraAndroid14/etc/install/CerediraAndroid14/version/*
!/CerediraAndroid14/etc/install/CerediraAndroid14/version/1.1.0

!/CerediraAndroid14/man
/CerediraAndroid14/man/*
!/CerediraAndroid14/man/CerediraAndroid14
/CerediraAndroid14/man/CerediraAndroid14/*
!/CerediraAndroid14/man/CerediraAndroid14/README.md


# CerediraAndroidSDK
!/CerediraAndroidSDK
/CerediraAndroidSDK/*
!/CerediraAndroidSDK/AndroidDriversAEHDInstall.bat
!/CerediraAndroidSDK/AndroidDriversHAXMInstall.bat
!/CerediraAndroidSDK/AndroidSDKCmd.bat

!/CerediraAndroidSDK/bin
/CerediraAndroidSDK/bin/*
!/CerediraAndroidSDK/bin/android
/CerediraAndroidSDK/bin/android/*
!/CerediraAndroidSDK/bin/android/README.md

!/CerediraAndroidSDK/etc
/CerediraAndroidSDK/etc/*
!/CerediraAndroidSDK/etc/install
/CerediraAndroidSDK/etc/install/*
!/CerediraAndroidSDK/etc/install/CerediraAndroidSDK
/CerediraAndroidSDK/etc/install/CerediraAndroidSDK/*
!/CerediraAndroidSDK/etc/install/CerediraAndroidSDK/CreateContextMenu.bat
!/CerediraAndroidSDK/etc/install/CerediraAndroidSDK/DeleteContextMenu.bat
!/CerediraAndroidSDK/etc/install/CerediraAndroidSDK/DeleteComponent.bat
!/CerediraAndroidSDK/etc/install/CerediraAndroidSDK/version
/CerediraAndroidSDK/etc/install/CerediraAndroidSDK/version/*
!/CerediraAndroidSDK/etc/install/CerediraAndroidSDK/version/1.1.0

!/CerediraAndroidSDK/man
/CerediraAndroidSDK/man/*
!/CerediraAndroidSDK/man/CerediraAndroidSDK
/CerediraAndroidSDK/man/CerediraAndroidSDK/*
!/CerediraAndroidSDK/man/CerediraAndroidSDK/README.md

!/CerediraAndroidSDK/var
/CerediraAndroidSDK/var/*
!/CerediraAndroidSDK/var/android
/CerediraAndroidSDK/var/android/*
!/CerediraAndroidSDK/var/android/README.md


# CerediraAppiumAndInspector
!/CerediraAppiumAndInspector
/CerediraAppiumAndInspector/*
!/CerediraAppiumAndInspector/AppiumCmd.bat
!/CerediraAppiumAndInspector/AppiumInspector.bat
!/CerediraAppiumAndInspector/AppiumService_UIAutomator2.bat
!/CerediraAppiumAndInspector/AppiumService_XCUITest.bat
!/CerediraAppiumAndInspector/AppiumServiceDefault.bat
!/CerediraAppiumAndInspector/AppiumServiceDocs.bat

!/CerediraAppiumAndInspector/bin
/CerediraAppiumAndInspector/bin/*
!/CerediraAppiumAndInspector/bin/appium
/CerediraAppiumAndInspector/bin/appium/*
!/CerediraAppiumAndInspector/bin/appium/README.md
!/CerediraAppiumAndInspector/bin/appium_inspector
/CerediraAppiumAndInspector/bin/appium_inspector/*
!/CerediraAppiumAndInspector/bin/appium_inspector/README.md

!/CerediraAppiumAndInspector/etc
/CerediraAppiumAndInspector/etc/*
!/CerediraAppiumAndInspector/etc/install
/CerediraAppiumAndInspector/etc/install/*
!/CerediraAppiumAndInspector/etc/install/CerediraAppiumAndInspector
/CerediraAppiumAndInspector/etc/install/CerediraAppiumAndInspector/*
!/CerediraAppiumAndInspector/etc/install/CerediraAppiumAndInspector/CreateContextMenu.bat
!/CerediraAppiumAndInspector/etc/install/CerediraAppiumAndInspector/DeleteContextMenu.bat
!/CerediraAppiumAndInspector/etc/install/CerediraAppiumAndInspector/DeleteComponent.bat
!/CerediraAppiumAndInspector/etc/install/CerediraAppiumAndInspector/version
/CerediraAppiumAndInspector/etc/install/CerediraAppiumAndInspector/version/*
!/CerediraAppiumAndInspector/etc/install/CerediraAppiumAndInspector/version/1.1.0

!/CerediraAppiumAndInspector/man
/CerediraAppiumAndInspector/man/*
!/CerediraAppiumAndInspector/man/CerediraAppiumAndInspector
/CerediraAppiumAndInspector/man/CerediraAppiumAndInspector/*
!/CerediraAppiumAndInspector/man/CerediraAppiumAndInspector/README.md


# CerediraArchiver
!/CerediraArchiver
/CerediraArchiver/*
!/CerediraArchiver/7z File Manager.bat

!/CerediraArchiver/bin
/CerediraArchiver/bin/*
!/CerediraArchiver/bin/7-Zip
/CerediraArchiver/bin/7-Zip/*
!/CerediraArchiver/bin/7-Zip/README.md

!/CerediraArchiver/etc
/CerediraArchiver/etc/*
!/CerediraArchiver/etc/install
/CerediraArchiver/etc/install/*
!/CerediraArchiver/etc/install/CerediraArchiver
/CerediraArchiver/etc/install/CerediraArchiver/*
!/CerediraArchiver/etc/install/CerediraArchiver/CreateContextMenu.bat
!/CerediraArchiver/etc/install/CerediraArchiver/DeleteContextMenu.bat
!/CerediraArchiver/etc/install/CerediraArchiver/DeleteComponent.bat
!/CerediraArchiver/etc/install/CerediraArchiver/version
/CerediraArchiver/etc/install/CerediraArchiver/version/*
!/CerediraArchiver/etc/install/CerediraArchiver/version/1.1.0

!/CerediraArchiver/man
/CerediraArchiver/man/*
!/CerediraArchiver/man/CerediraArchiver
/CerediraArchiver/man/CerediraArchiver/*
!/CerediraArchiver/man/CerediraArchiver/README.md


# CerediraEditors
!/CerediraEditors
/CerediraEditors/*
!/CerediraEditors/Notepad++.bat
!/CerediraEditors/SublimeText4.bat
!/CerediraEditors/WinMerge.bat

!/CerediraEditors/bin
/CerediraEditors/bin/*
!/CerediraEditors/bin/Notepad++
/CerediraEditors/bin/Notepad++/*
!/CerediraEditors/bin/Notepad++/README.md
!/CerediraEditors/bin/SublimeText4
/CerediraEditors/bin/SublimeText4/*
!/CerediraEditors/bin/SublimeText4/README.md
!/CerediraEditors/bin/WinMerge
/CerediraEditors/bin/WinMerge/*
!/CerediraEditors/bin/WinMerge/README.md

!/CerediraEditors/etc
/CerediraEditors/etc/*
!/CerediraEditors/etc/install
/CerediraEditors/etc/install/*
!/CerediraEditors/etc/install/CerediraEditors
/CerediraEditors/etc/install/CerediraEditors/*
!/CerediraEditors/etc/install/CerediraEditors/CreateContextMenu.bat
!/CerediraEditors/etc/install/CerediraEditors/DeleteContextMenu.bat
!/CerediraEditors/etc/install/CerediraEditors/DeleteComponent.bat
!/CerediraEditors/etc/install/CerediraEditors/version
/CerediraEditors/etc/install/CerediraEditors/version/*
!/CerediraEditors/etc/install/CerediraEditors/version/1.1.0

!/CerediraEditors/man
/CerediraEditors/man/*
!/CerediraEditors/man/CerediraEditors
/CerediraEditors/man/CerediraEditors/*
!/CerediraEditors/man/CerediraEditors/README.md


# CerediraJavaAutomation
!/CerediraJavaAutomation
/CerediraJavaAutomation/*
!/CerediraJavaAutomation/IntelliJ IDEA.bat

!/CerediraJavaAutomation/bin
/CerediraJavaAutomation/bin/*
!/CerediraJavaAutomation/bin/IntelliJIDEA
/CerediraJavaAutomation/bin/IntelliJIDEA/*
!/CerediraJavaAutomation/bin/IntelliJIDEA/README.md

!/CerediraJavaAutomation/etc
/CerediraJavaAutomation/etc/*
!/CerediraJavaAutomation/etc/install
/CerediraJavaAutomation/etc/install/*
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation
/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/*
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/CreateContextMenu.bat
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/DeleteContextMenu.bat
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/DeleteComponent.bat
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/InstallComponent.bat

!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/bin
/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/bin/*
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/bin/IntelliJIDEA
/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/bin/IntelliJIDEA/*
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/bin/IntelliJIDEA/bin
/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/bin/IntelliJIDEA/bin/*
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/bin/IntelliJIDEA/bin/idea.properties

!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/etc
/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/etc/*
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/etc/IntelliJIDEA
/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/etc/IntelliJIDEA/*
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/etc/IntelliJIDEA/options
/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/etc/IntelliJIDEA/options/*
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/etc/IntelliJIDEA/options/DontShowAgainFeedbackService.xml
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/etc/IntelliJIDEA/options/encoding.xml
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/etc/IntelliJIDEA/options/git.xml
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/etc/IntelliJIDEA/options/grazie_global.xml
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/etc/IntelliJIDEA/options/ide.general.local.xml
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/etc/IntelliJIDEA/options/ide.general.xml
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/etc/IntelliJIDEA/options/jdk.table.xml
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/etc/IntelliJIDEA/options/laf.xml
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/etc/IntelliJIDEA/options/project.default.xml
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/etc/IntelliJIDEA/options/recentProjects.xml
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/etc/IntelliJIDEA/options/settingsSync.xml
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/etc/IntelliJIDEA/options/shared-indexes.xml
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/etc/IntelliJIDEA/options/trusted-paths.xml
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/etc/IntelliJIDEA/options/updates.xml
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/etc/IntelliJIDEA/options/vcs.xml

!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/var
/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/var/*
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/var/IntelliJIDEA
/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/var/IntelliJIDEA/*
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/var/IntelliJIDEA/grazie
/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/var/IntelliJIDEA/grazie/*
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/var/IntelliJIDEA/grazie/README.md

!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/version
/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/version/*
!/CerediraJavaAutomation/etc/install/CerediraJavaAutomation/version/1.1.0
!/CerediraJavaAutomation/etc/IntelliJIDEA
/CerediraJavaAutomation/etc/IntelliJIDEA/*
!/CerediraJavaAutomation/etc/IntelliJIDEA/README.md

!/CerediraJavaAutomation/lib
/CerediraJavaAutomation/lib/*
!/CerediraJavaAutomation/lib/.m2
/CerediraJavaAutomation/lib/.m2/*
!/CerediraJavaAutomation/lib/.m2/repository
/CerediraJavaAutomation/lib/.m2/repository/*
!/CerediraJavaAutomation/lib/.m2/repository/README.md
!/CerediraJavaAutomation/lib/.m2/README.md
!/CerediraJavaAutomation/lib/IntelliJIDEA
/CerediraJavaAutomation/lib/IntelliJIDEA/*
!/CerediraJavaAutomation/lib/IntelliJIDEA/README.md

!/CerediraJavaAutomation/man
/CerediraJavaAutomation/man/*
!/CerediraJavaAutomation/man/CerediraJavaAutomation
/CerediraJavaAutomation/man/CerediraJavaAutomation/*
!/CerediraJavaAutomation/man/CerediraJavaAutomation/README.md

!/CerediraJavaAutomation/var
/CerediraJavaAutomation/var/*
!/CerediraJavaAutomation/var/IntelliJIDEA
/CerediraJavaAutomation/var/IntelliJIDEA/*
!/CerediraJavaAutomation/var/IntelliJIDEA/README.md
!/CerediraJavaAutomation/var/log
/CerediraJavaAutomation/var/log/*
!/CerediraJavaAutomation/var/log/IntelliJIDEA
/CerediraJavaAutomation/var/log/IntelliJIDEA/*
!/CerediraJavaAutomation/var/log/IntelliJIDEA/README.md


# CerediraJavaAutomationIDEAFull
!/CerediraJavaAutomationIDEAFull
/CerediraJavaAutomationIDEAFull/*

!/CerediraJavaAutomationIDEAFull/bin
/CerediraJavaAutomationIDEAFull/bin/*
!/CerediraJavaAutomationIDEAFull/bin/IntelliJIDEA
/CerediraJavaAutomationIDEAFull/bin/IntelliJIDEA/*
!/CerediraJavaAutomationIDEAFull/bin/IntelliJIDEA/README2.md

!/CerediraJavaAutomationIDEAFull/etc
/CerediraJavaAutomationIDEAFull/etc/*
!/CerediraJavaAutomationIDEAFull/etc/install
/CerediraJavaAutomationIDEAFull/etc/install/*
!/CerediraJavaAutomationIDEAFull/etc/install/CerediraJavaAutomationIDEAFull
/CerediraJavaAutomationIDEAFull/etc/install/CerediraJavaAutomationIDEAFull/*
!/CerediraJavaAutomationIDEAFull/etc/install/CerediraJavaAutomationIDEAFull/CreateContextMenu.bat
!/CerediraJavaAutomationIDEAFull/etc/install/CerediraJavaAutomationIDEAFull/DeleteContextMenu.bat
!/CerediraJavaAutomationIDEAFull/etc/install/CerediraJavaAutomationIDEAFull/DeleteComponent.bat
!/CerediraJavaAutomationIDEAFull/etc/install/CerediraJavaAutomationIDEAFull/version
/CerediraJavaAutomationIDEAFull/etc/install/CerediraJavaAutomationIDEAFull/version/*
!/CerediraJavaAutomationIDEAFull/etc/install/CerediraJavaAutomationIDEAFull/version/1.1.0

!/CerediraJavaAutomationIDEAFull/man
/CerediraJavaAutomationIDEAFull/man/*
!/CerediraJavaAutomationIDEAFull/man/CerediraJavaAutomationIDEAFull
/CerediraJavaAutomationIDEAFull/man/CerediraJavaAutomationIDEAFull/*
!/CerediraJavaAutomationIDEAFull/man/CerediraJavaAutomationIDEAFull/README.md


# CerediraJDK17
!/CerediraJDK17
/CerediraJDK17/*
!/CerediraJDK17/OpenJDK17.bat

!/CerediraJDK17/bin
/CerediraJDK17/bin/*
!/CerediraJDK17/bin/apache-maven-3
/CerediraJDK17/bin/apache-maven-3/*
!/CerediraJDK17/bin/apache-maven-3/README.md
!/CerediraJDK17/bin/OpenJDK17
/CerediraJDK17/bin/OpenJDK17/*
!/CerediraJDK17/bin/OpenJDK17/README.md

!/CerediraJDK17/etc
/CerediraJDK17/etc/*
!/CerediraJDK17/etc/install
/CerediraJDK17/etc/install/*
!/CerediraJDK17/etc/install/CerediraJDK17
/CerediraJDK17/etc/install/CerediraJDK17/*
!/CerediraJDK17/etc/install/CerediraJDK17/CreateContextMenu.bat
!/CerediraJDK17/etc/install/CerediraJDK17/DeleteContextMenu.bat
!/CerediraJDK17/etc/install/CerediraJDK17/DeleteComponent.bat
!/CerediraJDK17/etc/install/CerediraJDK17/version
/CerediraJDK17/etc/install/CerediraJDK17/version/*
!/CerediraJDK17/etc/install/CerediraJDK17/version/1.1.0

!/CerediraJDK17/man
/CerediraJDK17/man/*
!/CerediraJDK17/man/CerediraJDK17
/CerediraJDK17/man/CerediraJDK17/*
!/CerediraJDK17/man/CerediraJDK17/README.md


# CerediraNodeJS
!/CerediraNodeJS
/CerediraNodeJS/*
!/CerediraNodeJS/NodeJS.bat

!/CerediraNodeJS/bin
/CerediraNodeJS/bin/*
!/CerediraNodeJS/bin/NodeJS
/CerediraNodeJS/bin/NodeJS/*
!/CerediraNodeJS/bin/NodeJS/README.md

!/CerediraNodeJS/etc
/CerediraNodeJS/etc/*
!/CerediraNodeJS/etc/install
/CerediraNodeJS/etc/install/*
!/CerediraNodeJS/etc/install/CerediraNodeJS
/CerediraNodeJS/etc/install/CerediraNodeJS/*
!/CerediraNodeJS/etc/install/CerediraNodeJS/CreateContextMenu.bat
!/CerediraNodeJS/etc/install/CerediraNodeJS/DeleteContextMenu.bat
!/CerediraNodeJS/etc/install/CerediraNodeJS/DeleteComponent.bat
!/CerediraNodeJS/etc/install/CerediraNodeJS/version
/CerediraNodeJS/etc/install/CerediraNodeJS/version/*
!/CerediraNodeJS/etc/install/CerediraNodeJS/version/1.1.0

!/CerediraNodeJS/man
/CerediraNodeJS/man/*
!/CerediraNodeJS/man/CerediraNodeJS
/CerediraNodeJS/man/CerediraNodeJS/*
!/CerediraNodeJS/man/CerediraNodeJS/README.md


# CerediraRemoteAccess
!/CerediraRemoteAccess
/CerediraRemoteAccess/*
!/CerediraRemoteAccess/mRemoteNG.bat
!/CerediraRemoteAccess/PsExec.bat
!/CerediraRemoteAccess/Putty.bat
!/CerediraRemoteAccess/WinSCP.bat

!/CerediraRemoteAccess/bin
/CerediraRemoteAccess/bin/*
!/CerediraRemoteAccess/bin/mRemoteNG
/CerediraRemoteAccess/bin/mRemoteNG/*
!/CerediraRemoteAccess/bin/mRemoteNG/README.md
!/CerediraRemoteAccess/bin/PsExec
/CerediraRemoteAccess/bin/PsExec/*
!/CerediraRemoteAccess/bin/PsExec/README.md
!/CerediraRemoteAccess/bin/Putty
/CerediraRemoteAccess/bin/Putty/*
!/CerediraRemoteAccess/bin/Putty/README.md
!/CerediraRemoteAccess/bin/WinSCP
/CerediraRemoteAccess/bin/WinSCP/*
!/CerediraRemoteAccess/bin/WinSCP/README.md

!/CerediraRemoteAccess/etc
/CerediraRemoteAccess/etc/*
!/CerediraRemoteAccess/etc/install
/CerediraRemoteAccess/etc/install/*
!/CerediraRemoteAccess/etc/install/CerediraRemoteAccess
/CerediraRemoteAccess/etc/install/CerediraRemoteAccess/*
!/CerediraRemoteAccess/etc/install/CerediraRemoteAccess/CreateContextMenu.bat
!/CerediraRemoteAccess/etc/install/CerediraRemoteAccess/DeleteContextMenu.bat
!/CerediraRemoteAccess/etc/install/CerediraRemoteAccess/DeleteComponent.bat
!/CerediraRemoteAccess/etc/install/CerediraRemoteAccess/version
/CerediraRemoteAccess/etc/install/CerediraRemoteAccess/version/*
!/CerediraRemoteAccess/etc/install/CerediraRemoteAccess/version/1.1.0

!/CerediraRemoteAccess/man
/CerediraRemoteAccess/man/*
!/CerediraRemoteAccess/man/CerediraRemoteAccess
/CerediraRemoteAccess/man/CerediraRemoteAccess/*
!/CerediraRemoteAccess/man/CerediraRemoteAccess/README.md


# CerediraTools
!/CerediraTools
/CerediraTools/*
!/CerediraTools/Everything.bat
!/CerediraTools/FindAndReplace.bat
!/CerediraTools/KeePass.bat

!/CerediraTools/bin
/CerediraTools/bin/*
!/CerediraTools/bin/Everything
/CerediraTools/bin/Everything/*
!/CerediraTools/bin/Everything/README.md
!/CerediraTools/bin/FindAndReplace
/CerediraTools/bin/FindAndReplace/*
!/CerediraTools/bin/FindAndReplace/README.md
!/CerediraTools/bin/KeePass
/CerediraTools/bin/KeePass/*
!/CerediraTools/bin/KeePass/README.md

!/CerediraTools/etc
/CerediraTools/etc/*
!/CerediraTools/etc/install
/CerediraTools/etc/install/*
!/CerediraTools/etc/install/CerediraTools
/CerediraTools/etc/install/CerediraTools/*
!/CerediraTools/etc/install/CerediraTools/CreateContextMenu.bat
!/CerediraTools/etc/install/CerediraTools/DeleteContextMenu.bat
!/CerediraTools/etc/install/CerediraTools/DeleteComponent.bat
!/CerediraTools/etc/install/CerediraTools/version
/CerediraTools/etc/install/CerediraTools/version/*
!/CerediraTools/etc/install/CerediraTools/version/1.1.0

!/CerediraTools/man
/CerediraTools/man/*
!/CerediraTools/man/CerediraTools
/CerediraTools/man/CerediraTools/*
!/CerediraTools/man/CerediraTools/README.md


# CerediraVersionControlGit
!/CerediraVersionControlGit
/CerediraVersionControlGit/*
!/CerediraVersionControlGit/Git Bash.bat
!/CerediraVersionControlGit/Git GUI.bat
!/CerediraVersionControlGit/SublimeMerge.bat

!/CerediraVersionControlGit/bin
/CerediraVersionControlGit/bin/*
!/CerediraVersionControlGit/bin/Git
/CerediraVersionControlGit/bin/Git/*
!/CerediraVersionControlGit/bin/Git/README.md
!/CerediraVersionControlGit/bin/SublimeMerge
/CerediraVersionControlGit/bin/SublimeMerge/*
!/CerediraVersionControlGit/bin/SublimeMerge/README.md

!/CerediraVersionControlGit/etc
/CerediraVersionControlGit/etc/*
!/CerediraVersionControlGit/etc/install
/CerediraVersionControlGit/etc/install/*
!/CerediraVersionControlGit/etc/install/CerediraVersionControlGit
/CerediraVersionControlGit/etc/install/CerediraVersionControlGit/*
!/CerediraVersionControlGit/etc/install/CerediraVersionControlGit/CreateContextMenu.bat
!/CerediraVersionControlGit/etc/install/CerediraVersionControlGit/DeleteContextMenu.bat
!/CerediraVersionControlGit/etc/install/CerediraVersionControlGit/DeleteComponent.bat
!/CerediraVersionControlGit/etc/install/CerediraVersionControlGit/version
/CerediraVersionControlGit/etc/install/CerediraVersionControlGit/version/*
!/CerediraVersionControlGit/etc/install/CerediraVersionControlGit/version/1.1.0

!/CerediraVersionControlGit/man
/CerediraVersionControlGit/man/*
!/CerediraVersionControlGit/man/CerediraVersionControlGit
/CerediraVersionControlGit/man/CerediraVersionControlGit/*
!/CerediraVersionControlGit/man/CerediraVersionControlGit/README.md


# MDData
!/MDData
/MDData/*
!/MDData/images
/MDData/images/*
!/MDData/images/CerediraAutomationToolboxAllInstall.png
!/MDData/images/CerediraAutomationWindowsFolderAll.png