# Игнорируем все: каталоги, файлы, подкаталоги, файлы в подкаталогах
/*
/*/

# Не игнорировать следующие файлы из корня
!/.gitignore
!/LICENSE
!/README.md


# CerediraAdministration
!/CerediraAdministration
/CerediraAdministration/*
!/CerediraAdministration/LdapAdmin.bat
!/CerediraAdministration/MultiCommander.bat
!/CerediraAdministration/Nssm.bat
!/CerediraAdministration/PsTools.bat
!/CerediraAdministration/Scanner.bat

!/CerediraAdministration/bin
/CerediraAdministration/bin/*
!/CerediraAdministration/bin/LdapAdmin
/CerediraAdministration/bin/LdapAdmin/*
!/CerediraAdministration/bin/LdapAdmin/README.md
!/CerediraAdministration/bin/MultiCommander
/CerediraAdministration/bin/MultiCommander/*
!/CerediraAdministration/bin/MultiCommander/README.md
!/CerediraAdministration/bin/Nssm
/CerediraAdministration/bin/Nssm/*
!/CerediraAdministration/bin/Nssm/README.md
!/CerediraAdministration/bin/PsTools
/CerediraAdministration/bin/PsTools/*
!/CerediraAdministration/bin/PsTools/README.md
!/CerediraAdministration/bin/Scanner
/CerediraAdministration/bin/Scanner/*
!/CerediraAdministration/bin/Scanner/README.md

!/CerediraAdministration/etc
/CerediraAdministration/etc/*
!/CerediraAdministration/etc/install
/CerediraAdministration/etc/install/*
!/CerediraAdministration/etc/install/CerediraAdministration
/CerediraAdministration/etc/install/CerediraAdministration/*
!/CerediraAdministration/etc/install/CerediraAdministration/CreateContextMenu.bat
!/CerediraAdministration/etc/install/CerediraAdministration/DeleteContextMenu.bat

!/CerediraAdministration/man
/CerediraAdministration/man/*
!/CerediraAdministration/man/CerediraAdministration
/CerediraAdministration/man/CerediraAdministration/*
!/CerediraAdministration/man/CerediraAdministration/README.md


# CerediraAutomation
!/CerediraAutomation
/CerediraAutomation/*
!/CerediraAutomation/7z File Manager.bat

!/CerediraAutomation/bin
/CerediraAutomation/bin/*
!/CerediraAutomation/bin/7-Zip
/CerediraAutomation/bin/7-Zip/*
!/CerediraAutomation/bin/7-Zip/README.md

!/CerediraAutomation/etc
/CerediraAutomation/etc/*
!/CerediraAutomation/etc/install
/CerediraAutomation/etc/install/*
!/CerediraAutomation/etc/install/CerediraAutomation
/CerediraAutomation/etc/install/CerediraAutomation/*
!/CerediraAutomation/etc/install/CerediraAutomation/CreateContextMenu.bat
!/CerediraAutomation/etc/install/CerediraAutomation/DeleteContextMenu.bat

!/CerediraAutomation/man
/CerediraAutomation/man/*
!/CerediraAutomation/man/CerediraAutomation
/CerediraAutomation/man/CerediraAutomation/*
!/CerediraAutomation/man/CerediraAutomation/README.md


# CerediraEditors
!/CerediraEditors
/CerediraEditors/*
!/CerediraEditors/Notepad++.bat
!/CerediraEditors/SublimeText4.bat
!/CerediraEditors/WinMerge.bat

!/CerediraEditors/bin
/CerediraEditors/bin/*
!/CerediraEditors/bin/Notepad++
/CerediraEditors/bin/Notepad++/*
!/CerediraEditors/bin/Notepad++/README.md
!/CerediraEditors/bin/SublimeText4
/CerediraEditors/bin/SublimeText4/*
!/CerediraEditors/bin/SublimeText4/README.md
!/CerediraEditors/bin/WinMerge
/CerediraEditors/bin/WinMerge/*
!/CerediraEditors/bin/WinMerge/README.md

!/CerediraEditors/etc
/CerediraEditors/etc/*
!/CerediraEditors/etc/install
/CerediraEditors/etc/install/*
!/CerediraEditors/etc/install/CerediraEditors
/CerediraEditors/etc/install/CerediraEditors/*
!/CerediraEditors/etc/install/CerediraEditors/CreateContextMenu.bat
!/CerediraEditors/etc/install/CerediraEditors/DeleteContextMenu.bat

!/CerediraEditors/man
/CerediraEditors/man/*
!/CerediraEditors/man/CerediraEditors
/CerediraEditors/man/CerediraEditors/*
!/CerediraEditors/man/CerediraEditors/README.md


# CerediraJDK17
!/CerediraJDK17
/CerediraJDK17/*

!/CerediraJDK17/bin
/CerediraJDK17/bin/*
!/CerediraJDK17/bin/apache-maven-3
/CerediraJDK17/bin/apache-maven-3/*
!/CerediraJDK17/bin/apache-maven-3/README.md
!/CerediraJDK17/bin/OpenJDK17
/CerediraJDK17/bin/OpenJDK17/*
!/CerediraJDK17/bin/OpenJDK17/README.md

!/CerediraJDK17/etc
/CerediraJDK17/etc/*
!/CerediraJDK17/etc/install
/CerediraJDK17/etc/install/*
!/CerediraJDK17/etc/install/CerediraJDK17
/CerediraJDK17/etc/install/CerediraJDK17/*
!/CerediraJDK17/etc/install/CerediraJDK17/CreateContextMenu.bat
!/CerediraJDK17/etc/install/CerediraJDK17/DeleteContextMenu.bat

!/CerediraJDK17/man
/CerediraJDK17/man/*
!/CerediraJDK17/man/CerediraJDK17
/CerediraJDK17/man/CerediraJDK17/*
!/CerediraJDK17/man/CerediraJDK17/README.md


# CerediraJDK17
!/CerediraRemoteAccess
/CerediraRemoteAccess/*
!/CerediraRemoteAccess/mRemoteNG.bat
!/CerediraRemoteAccess/PsTools.bat
!/CerediraRemoteAccess/Putty.bat
!/CerediraRemoteAccess/WinSCP.bat

!/CerediraRemoteAccess/bin
/CerediraRemoteAccess/bin/*
!/CerediraRemoteAccess/bin/mRemoteNG
/CerediraRemoteAccess/bin/mRemoteNG/*
!/CerediraRemoteAccess/bin/mRemoteNG/README.md
!/CerediraRemoteAccess/bin/PsTools
/CerediraRemoteAccess/bin/PsTools/*
!/CerediraRemoteAccess/bin/PsTools/README.md
!/CerediraRemoteAccess/bin/Putty
/CerediraRemoteAccess/bin/Putty/*
!/CerediraRemoteAccess/bin/Putty/README.md
!/CerediraRemoteAccess/bin/WinSCP
/CerediraRemoteAccess/bin/WinSCP/*
!/CerediraRemoteAccess/bin/WinSCP/README.md

!/CerediraRemoteAccess/etc
/CerediraRemoteAccess/etc/*
!/CerediraRemoteAccess/etc/install
/CerediraRemoteAccess/etc/install/*
!/CerediraRemoteAccess/etc/install/CerediraRemoteAccess
/CerediraRemoteAccess/etc/install/CerediraRemoteAccess/*
!/CerediraRemoteAccess/etc/install/CerediraRemoteAccess/CreateContextMenu.bat
!/CerediraRemoteAccess/etc/install/CerediraRemoteAccess/DeleteContextMenu.bat

!/CerediraRemoteAccess/man
/CerediraRemoteAccess/man/*
!/CerediraRemoteAccess/man/CerediraRemoteAccess
/CerediraRemoteAccess/man/CerediraRemoteAccess/*
!/CerediraRemoteAccess/man/CerediraRemoteAccess/README.md


# CerediraJDK17
!/CerediraTools
/CerediraTools/*
!/CerediraTools/Everything.bat
!/CerediraTools/FindAndReplace.bat
!/CerediraTools/KeePass.bat

!/CerediraTools/bin
/CerediraTools/bin/*
!/CerediraTools/bin/Everything
/CerediraTools/bin/Everything/*
!/CerediraTools/bin/Everything/README.md
!/CerediraTools/bin/FindAndReplace
/CerediraTools/bin/FindAndReplace/*
!/CerediraTools/bin/FindAndReplace/README.md
!/CerediraTools/bin/KeePass
/CerediraTools/bin/KeePass/*
!/CerediraTools/bin/KeePass/README.md

!/CerediraTools/etc
/CerediraTools/etc/*
!/CerediraTools/etc/install
/CerediraTools/etc/install/*
!/CerediraTools/etc/install/CerediraTools
/CerediraTools/etc/install/CerediraTools/*
!/CerediraTools/etc/install/CerediraTools/CreateContextMenu.bat
!/CerediraTools/etc/install/CerediraTools/DeleteContextMenu.bat

!/CerediraTools/man
/CerediraTools/man/*
!/CerediraTools/man/CerediraJDK17
/CerediraTools/man/CerediraJDK17/*
!/CerediraTools/man/CerediraJDK17/README.md


# CerediraVersionControlGit
!/CerediraVersionControlGit
/CerediraVersionControlGit/*
!/CerediraVersionControlGit/Git Bash.bat
!/CerediraVersionControlGit/Git GUI.bat
!/CerediraVersionControlGit/SublimeMerge.bat

!/CerediraVersionControlGit/bin
/CerediraVersionControlGit/bin/*
!/CerediraVersionControlGit/bin/Git
/CerediraVersionControlGit/bin/Git/*
!/CerediraVersionControlGit/bin/Git/README.md
!/CerediraVersionControlGit/bin/SublimeMerge
/CerediraVersionControlGit/bin/SublimeMerge/*
!/CerediraVersionControlGit/bin/SublimeMerge/README.md

!/CerediraVersionControlGit/etc
/CerediraVersionControlGit/etc/*
!/CerediraVersionControlGit/etc/install
/CerediraVersionControlGit/etc/install/*
!/CerediraVersionControlGit/etc/install/CerediraVersionControlGit
/CerediraVersionControlGit/etc/install/CerediraVersionControlGit/*
!/CerediraVersionControlGit/etc/install/CerediraVersionControlGit/CreateContextMenu.bat
!/CerediraVersionControlGit/etc/install/CerediraVersionControlGit/DeleteContextMenu.bat

!/CerediraVersionControlGit/man
/CerediraVersionControlGit/man/*
!/CerediraVersionControlGit/man/CerediraVersionControlGit
/CerediraVersionControlGit/man/CerediraVersionControlGit/*
!/CerediraVersionControlGit/man/CerediraVersionControlGit/README.md
